FPTE.code-workspace
.venv
*.xml
.DS_Store
*.pyc
*.so
*.pyd
*~
.#*
*.lprof
*.egg*
*.swp
*.swo
build/
build.sh
dist/
MANIFEST
doc/_build/
.coverage
coverage
*.py,cover
.tags*
tags
covtype.data.gz

samples.zip
doc/samples.zip
coverages
samples
doc/coverages
doc/samples
*.prof
.tox/
.coverage
pip-wheel-metadata


*.prefs
.pydevproject
.idea
.vscode

*.pyproj

# Used by py.test
.cache
.pytest_cache/
_configtest.o.d
