backports.functools-lru-cache==1.6.1
certifi==2019.11.28
cycler==0.10.0
FPTE==1.1.0a2
kiwisolver==1.1.0
matplotlib==2.2.4
numpy==1.16.5
pandas==0.25.3
pyparsing==2.4.5
python-dateutil==2.8.1
pytz==2019.3
six==1.13.0
subprocess32==3.5.4
